.team_wrapper {
  .team-info {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: -4.6875rem;
    transition: all 0.3s ease-in-out;

    h5,
    p {
      color: var(--text-white);
    }

    .social-network {
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      padding: 1.25rem;
      margin: 1.25rem -1.25rem -1.25rem;
      background-color: var(--primary-color);
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;

      li {
        a {
          width: 2rem;
          height: 2rem;
          line-height: 2rem;
          display: block;
          border-radius: 50%;
          font-size: 0.9375rem;
          color: var(--text-white);
          border: 0.0625rem solid var(--bg-white);
        }
      }
    }
  }

  .card {
    position: relative;
    overflow: hidden;
    &:hover {
      .team-info {
        margin-bottom: 0;
      }
    }
  }
}
